.me-wrap {
  padding: 30px;

  .user-box {
    padding: 30px;
    background-color: #fff;
    border-radius: 40px;
    text-align: center;

    .data {
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-size: 24px;
      text-align: center;
      color: #303030;
      margin-top: 50px;

      .unit {
        color: #999;
      }

      .num {
        font-size: 40px;
        color: #000;
        font-weight: bold;
        font-style: oblique;
      }
    }
  }

  .activity-list {
    margin-top: 50px;
    margin-bottom: 100px;
    border-left: 1px dashed #ccc;

    .activity-date {
      position: relative;
      font-size: 24px;
      color: #303030;
      padding-left: 15px;

      &:after {
        position: absolute;
        left: -5px;
        top: 10px;
        content: ' ';
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #ff9600;
      }
    }

    .activity-item {
      border-radius: 40px;
      overflow: hidden;
      background-color: #fff;
      margin-top: 30px;
      margin-bottom: 30px;
      margin-left: 20px;

      .activity-content {
        color: #fff;
        height: 400px;
        background-size: cover;
        overflow: hidden;
        background-image: url('../../../static/images/demo-bg.jpg');

        .info-wrap {
          position: relative;
          display: flex;
          align-items: flex-end;
          width: 100%;
          height: 400px;
          background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8));
        }

        .btn-play {
          position: absolute;
          left: 50%;
          top: 150px;
          transform: translateX(-50%);
          width: 100px;
          height: 100px;
          background-size: 100%;
        }

        .info {
          margin: 30px;
          line-height: 36px;

          .title {
            font-size: 30px;
          }

          .km {
            font-size: 20px;
          }
        }
      }
    }
  }
}
